body {
    width: 100%;
    height: 100%;
    font-family: "Courier New";
    overflow-x: hidden;
}

html,
body {
    display: flex;
    height: 100%;
    margin: unset;
    flex-direction: column;
}

.taust1 {
	background: url(andmed/entlebuhh_taust_cc.jpg) no-repeat center center fixed;
	background-size: 100% 100%;
}

.taust2 {
	background: url(andmed/merle_taust2_cc.jpg) no-repeat center center fixed;
	background-size: 100% 100%;
}

h1 {
    margin: 0px;
    margin-top: 20px;
    padding: 40px;
    text-align: center;
    font-size: 100px;
}

h2 {
    margin: 0px;
    margin-top: 10px;
    padding: 20px;
    text-align: center;
    font-size: 50px;
}

p {
    margin: 0px;
    padding: 10px;
    text-align: center;
    font-size: 25px;
}

.valge_tekst {
	color:white;
}

.tyhjus {
	margin-bottom: 60%;
}

.tulp {
    float: left;
}
.tulp.kitsas {
    width: 25%;
}
.tulp.lai {
    width: 75%;
}

.vaheriba {
	background-color: white;
}