<<<<<<< HEAD
body {
  margin: 0px;
  padding: 0px;
  background: url(assets/taust_mastiff.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  background: white;
  text-align: center;
  border-radius: 25px;
}

.peariba li {
  margin: 10px;
  padding: 10px;
  list-style-type: none;
  display: inline-block;
  font-size: 30px;
  font-family: Arial;
}

.peariba li:hover {
	background-color: gray;
	border-radius: 5px;
}

.link {
  color: black;
  text-decoration: none;
}

h1 {
	margin: 0px;
	padding: 10px;
	text-align: center;
	font-family: Arial;
	font-size: 100px;
}

p {
	margin: 0px;
	padding: 10px;
	text-align: center;
	font-family: Arial;
	font-size: 25px;
}

/* Jagab piirkonna 75/25 */
.column {
  float: left;
}

.left {
  width: 25%;
}

.right {
  width: 75%;
=======
body {
  margin: 0px;
  padding: 0px;
  background: url(assets/taust_mastiff.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  background: white;
  text-align: center;
  border-radius: 25px;
}

.peariba li {
  margin: 10px;
  padding: 10px;
  list-style-type: none;
  display: inline-block;
  font-size: 30px;
  font-family: Arial;
}

.peariba li:hover {
	background-color: gray;
	border-radius: 5px;
}

.link {
  color: black;
  text-decoration: none;
}

h1 {
	margin: 0px;
	padding: 10px;
	text-align: center;
	font-family: Arial;
	font-size: 100px;
}

p {
	margin: 0px;
	padding: 10px;
	text-align: center;
	font-family: Arial;
	font-size: 25px;
}

/* Jagab piirkonna 75/25 */
.column {
  float: left;
}

.left {
  width: 25%;
}

.right {
  width: 75%;
>>>>>>> 89971878843911836c981e8fe1ba0c1243c7e756
}