body {
    background: url(andmed/entlebuhh_taust_cc.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    font-family: "Courier New";
    overflow-x: hidden;
}

html,
body {
    display: flex;
    height: 100%;
    margin: unset;
    flex-direction: column;
}

h1 {
    margin: 0px;
    margin-top: 20px;
    padding: 40px;
    text-align: center;
    font-size: 100px;
	color: white;
}

h2 {
    margin: 0px;
    margin-top: 10px;
    padding: 20px;
    text-align: center;
    font-size: 50px;
	color: white;
}

p {
    margin: 0px;
    padding: 10px;
    text-align: center;
    font-size: 25px;
	color: white;
}

p.tyhi {
	margin-bottom: 60%;
}

.column {
    float: left;
}

.vasak {
    width: 25%;
}

.parem {
    width: 75%;
}

.vahe {
	background-color: white;
}

.must {
	color: black;
}

.taust1 {
	background: url(andmed/entlebuhh_taust_cc.jpg) no-repeat center center fixed;
	background-size: 100% 100%
}

.taust2 {
	background: url(andmed/merle_taust2_cc.jpg) no-repeat center center fixed;
	background-size: 100% 100%
}