body {
    margin: 0px;
    padding: 0px;
    background: url(assets/entlebuhh_taust_cc.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header {
    background: white;
    text-align: center;
    border-radius: 25px;
}

.peariba li {
    margin: 10px;
    padding: 10px;
    list-style-type: none;
    display: inline-block;
    font-size: 30px;
    font-family: Arial;
}

.peariba li:hover {
    background-color: gray;
    border-radius: 5px;
}

.link {
    color: black;
    text-decoration: none;
}

h1 {
    margin: 0px;
    padding: 10px;
    text-align: center;
    font-family: Arial;
    font-size: 100px;
	color: white;
}

p {
    margin: 0px;
    padding: 10px;
    text-align: center;
    font-family: Arial;
    font-size: 25px;
	color: white;
}

/* Jagab piirkonna 75/25 */
.column {
    float: left;
}

.right {
    width: 25%;
}

.left {
    width: 75%;
}