body {
    background: url(assets/entlebuhh_taust_cc.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    font-family: "Courier New";
    overflow-x: hidden;
}

html,
body {
    display: flex;
    height: 100%;
    margin: unset;
    flex-direction: column;
}

header {
    background: white;
    text-align: center;
    border-radius: 25px;
}


#kast {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;

}

.pildikesed {
    display: flex;
    flex-direction: column;
}


/*
.peariba li {
    margin: 10px;
    padding: 10px;
    list-style-type: none;
    display: inline-block;
    font-size: 30px;
    font-family: Arial;
}

.peariba li:hover {
    background-color: gray;
    border-radius: 5px;
}

*/


img {
	height: 300px;
	width: 250px;
	margin: 50px;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
	display: block;
    transition: .5s;
}

img:hover{
	transition: transform .5s;
	transform: scale(1.1);
}

.link {
    color: black;
    text-decoration: none;
}

.column {
    float: left;
	width: 25%;
}

