body {
    background: url(andmed/entlebuhh_taust_cc.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    font-family: "Courier New";
    overflow-x: hidden;
}

html,
body {
    display: flex;
    height: 100%;
    margin: unset;
    flex-direction: column;
}

#kast {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

.pildikesed {
    display: flex;
    flex-direction: column;
}

img {
	height: 300px;
	width: 250px;
	margin: 50px;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
	display: block;
    transition: .5s;
}

img:hover{
	transition: transform .5s;
	transform: scale(1.1);
}