body {
    margin: 0px;
    padding: 0px;
    background: url(assets/paws.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    font-family: "Courier New";
    overflow: hidden;
}


#header-konteiner {
    top: 0;
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100%;
    background: brown;
    justify-content: center;
    padding: 20px 20px 20px 0px;

}

.menyy-link {
    height: 100%;
    align-items: center;
    color: black;
    font-size: 20px;
    margin-right: 45px;
    text-decoration: none;
    position: relative;
}

.menyy-link:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid white;
    transform: scaleY(2);
    opacity: 0;
    transition: 0.5s;
}


.menyy-link:hover:before {
    transform: scaleY(1);
    opacity: 1;
}

.title h1 {
    margin-top: 200px;
    color: black;
    font-size: 35px;
    text-align: center;
}

.form {
    margin: 0px;
    width: 250px;
    background: transparent;
}


.form input,
textarea,
button {
    margin: 10px;
    width: 220px;
    height: 35px;
    border-radius: 10px;
}


