body {
  margin: 0px;
  padding: 0px;
  text-align: center;
  background: url(assets/paws.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  background: brown;
  text-align: center;
}

.nav li {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  display: inline-block;
  margin: 40px;
  font-size: 30px;
}

.title {
  margin-top: 100px;
  color: white;
  border: none;
}

.form {
  margin: 0px;
  width: 250px;
  background: transparent;

  /*
  border: solid;
  background: transparent;

  transition: all 2s ease-in-out;

  */
}

.form input,
textarea,
button {
  margin: 10px;
  width: 200px;
  height: 25px;
  border-radius: 10px;
}

.link {
  color: black;
  text-decoration: none;
}
