body {
    margin: 0px;
    padding: 0px;
    background: url(assets/entlebuhh_taust_cc.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    font-family: "Courier New";
    overflow: hidden;
    text-align: center;
}



.title h1 {
    margin-top: 200px;
    color: royalblue;
    font-size: 35px;
    text-align: center;
}

.form {
    margin: 0px;
    width: 250px;
    background: transparent;
    display: inline-block;

}

.form input,
textarea,
button {
    margin: 10px;
    width: 220px;
    height: 35px;
    border-radius: 10px;
}