#menyyriba {
    top: 0;
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    background: white;
    justify-content: center;
    padding: 20px 20px 20px 10px;
}

.menyy-link {
    height: 100%;
    align-items: center;
    color: black;
    font-size: 20px;
    margin-right: 45px;
    text-decoration: none;
    position: relative;
}

.menyy-link:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid black;
    transform: scaleY(2);
    opacity: 0;
    transition: 0.5s;
}

.menyy-link:hover:before {
    transform: scaleY(1);
    opacity: 1;
}
