body {
    background: url(assets/paws.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    font-family: "Courier New";
    overflow-x: hidden;
}

html,
body {
    display: flex;
    height: 100%;
    margin: unset;
    flex-direction: column;
    gap: 30px;
}


#header-konteiner {
    top: 0;
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    background: brown;
    justify-content: center;
    padding: 20px 20px 20px 10px;
}

.menyy-link {
    height: 100%;
    align-items: center;
    color: black;
    font-size: 20px;
    margin-right: 45px;
    text-decoration: none;
    position: relative;
}

.menyy-link:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid white;
    transform: scaleY(2);
    opacity: 0;
    transition: 0.5s;
}


.menyy-link:hover:before {
    transform: scaleY(1);
    opacity: 1;
}

#sisu-konteiner {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
}


.header {
    style: height 10%;
    text-align: center;
    padding-bottom: 100px;
    font-size: 40px;
}


#kast {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 200px;
    width: 100%;
    text-align: center;

}

.koera-objekt {
    display: flex;
    flex-direction: column;
    width: 250px;
    gap: 10px;
    border: solid;
    border-width: 3px;
    border-color: gray;
    font-size: 25px;
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #d8896b 74%);
}


.koera-pilt {
    height: auto;
    max-width: 100%;
    transition: transform 2s;

}

.koera-objekt .koera-pilt:hover {
    transform: scale(1.05);
}

.koera-objekt .info {
    position: absolute;
    margin-top: 35px;
    padding: 20px;
    text-align: center;
    transform: scaleY(0);
    transition: transform .5s;
    background: rgba(0, 0, 0, .8);
    height: 337px;
    width: 210px;
}

.koera-objekt:hover .info {
    transform: scaleY(1);
}

.sisu h2 {
    color: white;
    transform: translateY(-50%);
    text-align: center;
}

.tekst {
    font-size: 25px;
    color: white;
}

#btn {
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.6s;
    border: none;
}

#btn:hover {
    color: white;
}