body {
    background: url(assets/paws.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
}

html,
body {
    display: flex;
    height: 100%;
    margin: unset;
    flex-direction: column;
    gap: 30px;
}

#header-konteiner {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    background: brown;
    text-align: center;
    align-content: center;
    justify-content: center;
    gap: 20px;
}

.menyy-link {
    display: flex;
    height: 100%;
    align-items: center;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

#sisu-konteiner {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
}

h1{
    text-align: center;
}

#kast{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    text-align: center;

}

.koera-objekt{
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 10px;
    border: solid;
    border-width: 3px;
    border-color: gray;
    font-size: 30px;
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #d8896b 74%);


}


.koera-pilt{
    height: auto;
    max-width: 100%;
}

button{
    background-color: aqua;
    border: none;
    height: 30px;
    font-weight: 900;
    font-size: 15px;
}